#
# Source Distribution Manifest
#
# More at http://docs.python.org/distutils/sourcedist.html

include README.md LICENSE
include pavement.py setup.py paver-minilib.zip
include setup.cfg pylint.cfg
include requirements.txt  tools-requirements.txt

graft debian
prune debian/neutrino-wand
prune debian/sdist
recursive-exclude debian *.log *.substvars files

